@font-face {
  font-family: "Permanent Marker";
  src: url(./fonts/PermanentMarker.ttf) format("truetype"),
    url(./fonts/PermanentMarker.woff) format("woff");
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

.page {
  font-family: "Inter", sans-serif;
  background: #eeeeee;
}

.header {
  height: 100vh;
  /* add missing declarations */
  width: 100%;
  background-color: rgba(238, 238, 238, .2);
  display: flex;
  background-image: url(/images/teclado_pantalla.jfif);
  background-size: cover;
  background-position: center center;
  text-align: center;
}

/* add a CSS rule for the page title here */
.header-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 140px;
  margin: auto;
  max-width: 1240px;
  line-height: 140px;
  text-transform: uppercase;
}

.header-subTitle {
  margin: auto;
  font-family: 'Permanent Marker', cursive;
  text-transform: uppercase;
  
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  color: #FFF;
  font-size: 40px;
 
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* add missing declarations */
  font-size: 0;
  width: 790px;
  margin: 100px auto 50px;
}

/* add CSS rules for cards and their content here */
.card {
  display: inline-block;
  width: 350px;
  margin-bottom: 60px;
  padding: 45px 45px 70px;
  padding-top: 45px;
  margin-right: 90px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.no-right-margin {
  margin-right: 0;
}

.card-title {
  font-family: "Permanent Marker", cursive;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
}

.card-image {
  width: 100%;
  margin-bottom: 25px;
  height: 200px;
}

.footer {
  display: flex;
  /* add missing declarations */
  min-height: 300px;
  background-color: #000;
}

/* add a CSS rule for the footer signature */
.footer-author {
  color: #FFF;
  font-size: 24px;
  margin: auto;
}
.footer-link{
  text-decoration: none;
  color:#fff;
}